<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="TestDb"
         connectionString="data source=(localdb)\MSSQLLocalDB;initial catalog=TestDb;persist security info=True;Integrated Security=True;Connect Timeout=30;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>